.signup{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    margin: 0 auto;
    margin-top : 50px;
    display: grid;
    grid-template-rows: 70px 1fr;
    align-items: center;
    height: 90%;
    padding-bottom: 50px;
  }
  .signup-title{
    text-align: center;
    font-size: 2em;
  }
  .signup-form{
    display: flex;
    flex-direction: column;
    padding : 20px 50px;
    padding-bottom: 0;
    justify-content: space-evenly;
    width: 400px;
  }
  .signup-form .signup-input{
    margin : 10px 0;
  }
  .signup-form .submitBtn{
    width: 100%;
    margin: 20px 0;
  }