.time{
  flex: 1;
  display: grid;
  grid-template-columns: 350px 1fr;
  margin : 0 80px;
}
.time .time-contents{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.time .timeline-search{
  margin : 20px;
  padding : 20px;
  background-color: rgba(130,143,146, 0.08);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time .time-contents .timeline{
  display: grid;
  grid-template-rows: 60px 50px 1fr;
  margin: 20px 0;
  padding : 20px;
  background-color: rgba(130,143,146, 0.08);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  min-height: 300px;
}
.time .time-contents .timeline .button-wrapper{
  display: flex;
  justify-content: flex-end;
}
.time .time-contents .timeline .date-picker-wrapper{
  margin: 16px 16px 0 16px;
  display: flex;
  justify-content: space-around;
}
.time .time-contents .timeline .datePicker-wrap{
  width: 70%;
}
.time .time-contents .timeline .date-picker{ 
  border: none;
  box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
  outline: none;
  font-size: 14px;
  text-align:center;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  min-width: 150px;
}
.arrow-icon{
  font-size: 12px;
  border: none;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  color: rgba(5, 23, 42, 0.6);
}
.arrow-icon:hover{
  color: #1976d2;
}
.time .timeline .cards{

}
.time .timeline .writeForm{
  margin-top: 16px;
  /* background-color: white; */
  /* padding: 20px; */
  /* border-radius: 10px; */
}
.time .timeline .writeForm .top-wrapper{
  display: flex;
  justify-content: space-between;
}
.time .timeline .writeForm .title-wrapper{
  margin: 10px 0; 
}
.time .timeline .writeForm .title-wrapper .textfield-title{
  width: 100%;
}
.time .timeline .writeForm .content-wrapper{
  margin: 10px 0; 
}
.time .timeline .writeForm .content-wrapper .textfeild-content{
  width :  100%;
}
.activityScore-wrapper{
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding-right: 20px;
}
.activityScore-wrapper p{
  font-size: 12px;
}

.time .side .left-nav-fold{
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(78, 195, 224, 0.1);
  border-radius: 10px;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 1px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  cursor: pointer;
}
.time .time-contents .active-search-fold{
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(130,143,146, 0.08);
  border-radius: 10px;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 1px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  cursor: pointer;
}
@media screen and (max-width : 1040px) {
  .time{
    flex: 1;
    margin : 0 80px;
    display: flex;
    flex-direction: column;
  }
  .time .time-contents .timeline-search {
    margin-left: 0;
  }
  .time .side .left-nav {
    margin-top:  0;
  }
}
@media screen and (max-width : 740px) {
  .time{
    margin : 0;
  }
  .time .time-contents{
    display: flex;
    flex-direction: column;
  }
  .time .time-contents .timeline-search {
    margin-right: 0;
    margin-top: 0;
  }
  .time .time-contents .timeline{
    margin-right: 0;
  }
}