.time{
  display: grid;
  grid-template-columns: 20% 30% 50%;
  margin : 0 80px;
}
.time .timeline{
  margin : 20px;
  padding : 20px;
  background-color: rgba(130,143,146, 0.08);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time .write{
  margin-top : 20px;
  padding : 20px;
  background-color: rgba(130,143,146, 0.08);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.time .write .button-wrapper{
  display: flex;
  justify-content: flex-end;
}
.time .write .date-picker-wrapper{
  display: flex;
  justify-content: center;
}
.time .write .cards{
  background-color: white;
  height: 100px;
}
.time .write .writeForm{
  margin-top: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.time .write .writeForm .top-wrapper{
  display: flex;
  justify-content: space-between;
}
.time .write .writeForm .title-wrapper{
  margin: 10px 0; 
}
.time .write .writeForm .title-wrapper .textfield-title{
  width: 100%;
}
.time .write .writeForm .content-wrapper{
  margin: 10px 0; 
}
.time .write .writeForm .content-wrapper .textfeild-content{
  width :  100%;
}
.activityScore-wrapper{
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding-right: 20px;
}
.activityScore-wrapper p{
  font-size: 12px;
}
.activityScore-wrapper .slider-score{
  
}