.time{
  flex: 1;
  display: grid;
  grid-template-columns: 20% 40% 40%;
  margin : 0 80px;
}
.time .timeline-search{
  margin : 20px;
  padding : 20px;
  background-color: rgba(130,143,146, 0.08);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time .timeline{
  display: grid;
  grid-template-rows: 50px 50px 1fr;
  margin: 20px 0;
  padding : 20px;
  background-color: rgba(130,143,146, 0.08);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.time .timeline .button-wrapper{
  display: flex;
  justify-content: flex-end;
}
.time .timeline .date-picker-wrapper{
  margin: 16px 16px 0 16px;
  display: flex;
  justify-content: space-around;
}
.time .timeline .date-picker{ 
  border: none;
  box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
  outline: none;
  font-size: 14px;
  text-align:center;
  padding: 7px 10px;
  border-radius: 10px;
}
.arrow-icon{
  font-size: 12px;
  border: none;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  color: rgba(5, 23, 42, 0.6);
}
.arrow-icon:hover{
  color: #1976d2;
}
.time .timeline .cards{

}
.time .timeline .writeForm{
  margin-top: 16px;
  /* background-color: white; */
  /* padding: 20px; */
  /* border-radius: 10px; */
}
.time .timeline .writeForm .top-wrapper{
  display: flex;
  justify-content: space-between;
}
.time .timeline .writeForm .title-wrapper{
  margin: 10px 0; 
}
.time .timeline .writeForm .title-wrapper .textfield-title{
  width: 100%;
}
.time .timeline .writeForm .content-wrapper{
  margin: 10px 0; 
}
.time .timeline .writeForm .content-wrapper .textfeild-content{
  width :  100%;
}
.activityScore-wrapper{
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding-right: 20px;
}
.activityScore-wrapper p{
  font-size: 12px;
}
.activityScore-wrapper .slider-score{
  
}