<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">-->
  <head>
    <meta charset="UTF-8">
    <title>login</title>
    <script	src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
<!--    <script type="text/javascript" src="/resources/js/jsbn.js"></script>-->
<!--    <script type="text/javascript" src="/resources/js/rsa.js"/>"></script>-->
<!--    <script type="text/javascript" src="/resources/js/prng4.js"></script>-->
<!--    <script type="text/javascript" src="/resources/js/rng.js"></script>-->
<!--    <script type="text/javascript" src="/js/jsbn.js"></script>-->
<!--    <script type="text/javascript" src="/js/rsa.js"/>"></script>-->
<!--    <script type="text/javascript" src="/js/prng4.js"></script>-->
<!--    <script type="text/javascript" src="/js/rng.js"></script>-->
    <script type="text/javascript" src="/js/jsencrypt.js"></script>

    <script>
      var response;
      var rsaPublicKeyModulus;
      var rsaPublicKeyExponent;
      var publicKeyStr;
      function ajax_send(){

        // 1. Using rsaPublicKeyModulus, rsaPublicKeyExponent
        // var rsa = new RSAKey();
        // rsa.setPublic(rsaPublicKeyModulus, rsaPublicKeyExponent);

        // 2. Using publicKey by JSEncrypt
        let rsaEncrypt = new JSEncrypt();
        rsaEncrypt.setPublicKey(publicKeyStr);

        var memberId = document.querySelectorAll("[name=memberId]")[0].value;
        var password = document.querySelectorAll("[name=password]")[0].value;

        // 1. Using rsaPublicKeyModulus, rsaPublicKeyExponent
        // var securedMemberId = rsa.encrypt(memberId);
        // var securedPassword = rsa.encrypt(password);

        // 2. Using publicKey by JSEncrypt
        var securedMemberId = rsaEncrypt.encrypt(memberId);
        var securedPassword = rsaEncrypt.encrypt(password);

        console.log("securedMemberId : "+ securedMemberId)
        console.log("securedPassword : "+ securedPassword)
        response = fetch("http://127.0.0.1:8080/member/login", {
          method: 'post',
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            // memberId : document.querySelectorAll("[name=memberId]")[0].value,
            // password : sha256(document.querySelectorAll("[name=password]")[0].value)
            memberId : securedMemberId,
            password : securedPassword
          })
        }).then((response) => response.json())
      .then((data) => console.log(data));
      }

      document.addEventListener("DOMContentLoaded", function(){
// Handler when the DOM is fully loaded
        console.log("hello world");
        response = fetch("http://127.0.0.1:8080/member/requestpublickey", {
          method: 'get'
        }).then((response) => response.json())
                .then(function (data){

                  //1
                  // rsaPublicKeyModulus = data.publicKeyInfo.publicKeyModulus;
                  // rsaPublicKeyExponent = data.publicKeyInfo.publicKeyExponent;

                  //2
                  publicKeyStr = data.publicKeyInfo.publicKeyStr;
                });

      });
    </script>
  </head>
  <body>
    <h1>Login</h1> <hr>
    <img src="/img/info.jpeg" />

    <!-- <form action="/member/login" method="POST">
      <input type="hidden" />
      memberId : <input type="text" name="username"> <br>
      password : <input type="password" name="password"> <br>
      <button type="submit">Login</button>
    </form> <br> -->

    <form id="loginForm">
      memberId : <input type="text" name="memberId"> <br>
      password : <input type="password" name="password"> <br>
      <input type="button" onclick="ajax_send()" value="login">Login</input>
    </form> <br>

    <a href="/test/signup">Go to join! →</a>
  </body>
</html>