<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">-->
  <head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id"  th:content="${snsGoogleCliendId}">
    <title>login</title>
    <script	src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
<!--    <script type="text/javascript" src="/resources/js/jsbn.js"></script>-->
<!--    <script type="text/javascript" src="/resources/js/rsa.js"/>"></script>-->
<!--    <script type="text/javascript" src="/resources/js/prng4.js"></script>-->
<!--    <script type="text/javascript" src="/resources/js/rng.js"></script>-->
<!--    <script type="text/javascript" src="/js/jsbn.js"></script>-->
<!--    <script type="text/javascript" src="/js/rsa.js"/>"></script>-->
<!--    <script type="text/javascript" src="/js/prng4.js"></script>-->
<!--    <script type="text/javascript" src="/js/rng.js"></script>-->
    <script type="text/javascript" src="/js/jsencrypt.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script th:inline="javascript">
      let grantType;
      let accessToken;
      let id_token;
      var auth2testInfo;
      var response;
      var rsaPublicKeyModulus;
      var rsaPublicKeyExponent;
      var publicKeyStr;
      let googleUserData;
      var accessTokenIssueRequestBaseUrl = "https://accounts.google.com/o/oauth2/v2/auth?client_id=";
      // const googleClientId = "this is example";
      /* <![CDATA[ */
      const googleClientId = /*[[ ${snsGoogleCliendId} ]]*/;
      /* ]] */

      // const authorizedRedirectionUri = "http://localhost:8080"
      const authorizedRedirectionUri = "http://localhost:8080/member/google/auth"

      const accessTokenIssueRequestUrl = accessTokenIssueRequestBaseUrl.concat(googleClientId)
      .concat("&redirect_uri=")
      .concat(authorizedRedirectionUri)
      .concat("&response_type=code &scope=email%20profile%20openid &access_type=offline");
      //
      function onSignIn(googleUser) {
        // debugger;

        googleUserData = googleUser;
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:8080/member/google/tokensignin');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
          console.log('Signed in as: ' + xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);

      }
      // [출처] [JAVASCRIPT] 구글 로그인 API 연동 넣기(JS, JavaScript)|작성자 Ohsanrim


      function onSignInByLoginBtnOnly() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2testInfo = auth2;
        if (auth2.isSignedIn.get()) {
          var profile = auth2.currentUser.get().getBasicProfile();
          console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log('Name: ' + profile.getName());
          console.log('Image URL: ' + profile.getImageUrl());
          console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
          id_token = auth2.currentUser.get().wc.id_token;
          // tokensigninTest()
        }
      }
      function tokensigninTest(){
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:8080/member/google/tokensignin');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
          console.log('Signed in as: ' + xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);
      }

      function snsLoginTest(){
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify({
          "tokenId": id_token,
        });

        var requestOptions = {
          method: 'POST',
          headers: myHeaders,
          body: raw,
          redirect: 'follow'
        };

        fetch("/member/snslogin/google", requestOptions)
                .then((response) => response.json())
                .then(function(data){
                  grantType = data.tokenInfo.grantType;
                  accessToken = data.tokenInfo.accessToken;
                })
                .catch(error => console.log('error', error));
                // .then(response => response.text())
                // .then(result => console.log(result))
                // .catch(error => console.log('error', error));
      }

      function simpleSignUpTest(name, memberId){
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify({
          "tokenId": id_token,
          "name" : name,
          "memberId" : memberId
        });

        var requestOptions = {
          method: 'POST',
          headers: myHeaders,
          body: raw,
          redirect: 'follow'
        };

        fetch("/member/simplesignup/google", requestOptions)
                .then((response) => response.json())
                .then(function(data){
                  grantType = data.tokenInfo.grantType;
                  accessToken = data.tokenInfo.accessToken;
                })
                .catch(error => console.log('error', error));
                // .then(response => response.text())
                // .then(result => console.log(result))

      }


      const onClickGoogleLogin = (e) => {
        //구글 인증 서버로 인증코드 발급 요청
        window.location.replace(accessTokenIssueRequestUrl);
      }

      function requestUpdateProgressRate(goalId, progressRate){
        var myHeaders = new Headers();
        myHeaders.append("Authorization", grantType+" "+accessToken);
        myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify({
          "goalId": String(goalId),
          "progressRate": String(progressRate)
        });

        var requestOptions = {
          method: 'PATCH',
          headers: myHeaders,
          body: raw,
          redirect: 'follow'
        };

        fetch("/goalManage/goal/progress-rate", requestOptions)
                .then(response => response.text())
                .then(result => console.log(result))
                .catch(error => console.log('error', error));
      }

      function requestCurrentUser(){
        var myHeaders = new Headers();
        myHeaders.append("Authorization", grantType+" "+accessToken);

        var requestOptions = {
          method: 'GET',
          headers: myHeaders,
          redirect: 'follow'
        };

        fetch("/member/currentUser", requestOptions)
                .then(response => response.text())
                .then(result => console.log(result))
                .catch(error => console.log('error', error));
      }
      function linkAccountTest(){
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        myHeaders.append("Authorization", grantType+" "+accessToken);
        var raw = JSON.stringify({
          "tokenId": id_token
        });

        var requestOptions = {
          method: 'PATCH',
          headers: myHeaders,
          body: raw,
          redirect: 'follow'
        };

        fetch("/member/linkaccount/google", requestOptions)
                .then(response => response.text())
                .then(result => console.log(result))
                .catch(error => console.log('error', error));
      }

      function withdrawalTest(){
        var myHeaders = new Headers();
        myHeaders.append("Authorization", grantType+" "+accessToken);

        var requestOptions = {
          method: 'DELETE',
          headers: myHeaders,
          redirect: 'follow'
        };

        fetch("/member/withdrawal", requestOptions)
                .then(response => response.text())
                .then(result => console.log(result))
                .catch(error => console.log('error', error));
      }

      function ajax_change_password_send(){
        // 1. Using publicKey by JSEncrypt
        let rsaEncrypt = new JSEncrypt();
        rsaEncrypt.setPublicKey(publicKeyStr);

        // debugger;

        let beforePwd = document.querySelectorAll("[name=beforePwd]")[0].value;
        let afterPwd = document.querySelectorAll("[name=afterPwd]")[0].value;
        let securedBeforePwd = rsaEncrypt.encrypt(beforePwd);
        let securedAfterPwd = rsaEncrypt.encrypt(afterPwd);

        console.log("securedBeforePwd : "+ securedBeforePwd)
        console.log("securedAfterPwd : "+ securedAfterPwd)

        var myHeaders = new Headers();
        myHeaders.append("Authorization", grantType+" "+accessToken);
        myHeaders.append("Content-Type", "application/json");

        response = fetch("/member/changepwd", {
          method: 'post',
          headers: myHeaders,
          body: JSON.stringify({
            beforePwd : securedBeforePwd,
            afterPwd : securedAfterPwd
          })
        }).then((response) => response.json())
                .then(function(data){
                console.log(data)
                });
      }

      function ajax_send(){

        // 1. Using rsaPublicKeyModulus, rsaPublicKeyExponent
        // var rsa = new RSAKey();
        // rsa.setPublic(rsaPublicKeyModulus, rsaPublicKeyExponent);

        // 2. Using publicKey by JSEncrypt
        let rsaEncrypt = new JSEncrypt();
        rsaEncrypt.setPublicKey(publicKeyStr);

        var memberId = document.querySelectorAll("[name=memberId]")[0].value;
        var password = document.querySelectorAll("[name=password]")[0].value;

        // 1. Using rsaPublicKeyModulus, rsaPublicKeyExponent
        // var securedMemberId = rsa.encrypt(memberId);
        // var securedPassword = rsa.encrypt(password);

        // 2. Using publicKey by JSEncrypt
        var securedMemberId = rsaEncrypt.encrypt(memberId);
        var securedPassword = rsaEncrypt.encrypt(password);

        console.log("securedMemberId : "+ securedMemberId)
        console.log("securedPassword : "+ securedPassword)
        response = fetch("/member/login", {
        // response = fetch("/member/loginTest", {
          method: 'post',
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            // memberId : document.querySelectorAll("[name=memberId]")[0].value,
            // password : sha256(document.querySelectorAll("[name=password]")[0].value)
            memberId : securedMemberId,
            password : securedPassword
          })
        }).then((response) => response.json())
      .then(function(data){
        grantType = data.tokenInfo.grantType;
        accessToken = data.tokenInfo.accessToken;
      });
      }

      function requestPublicKey(){
        response = fetch("/member/requestpublickey", {
          method: 'get'
        }).then((response) => response.json())
                .then(function (data){

                  //1
                  // rsaPublicKeyModulus = data.publicKeyInfo.publicKeyModulus;
                  // rsaPublicKeyExponent = data.publicKeyInfo.publicKeyExponent;

                  //2
                  publicKeyStr = data.publicKeyInfo.publicKeyStr;
                });
      }

      // async function managing upload operation
      async function uploadFile() {
        // function return value
        let return_data = { error: 0, message: '' };

        try {
          // // no file selected
          // if(document.querySelector("#file-to-upload").files.length == 0) {
          //   throw new Error('No file selected');
          // }
          // formdata
          let data = new FormData();
          for (item of document.querySelectorAll("#changeMemberInfoDiv input[type='text']")){
            // console.log(item.getAttribute("name"))
            // console.log(item.value)
            data.append(item.getAttribute("name"), item.value)
          }

          if(document.querySelector("[name=profilePhoto]").files.length != 0) {
            data.append('profilePhoto', document.querySelector("[name=profilePhoto]").files[0]);
          }
          if(document.querySelector("[name=backgroundPhoto]").files.length != 0) {
            data.append('backgroundPhoto', document.querySelector("[name=backgroundPhoto]").files[0]);
          }




          var myHeaders = new Headers();
          myHeaders.append("Authorization", grantType+" "+accessToken);
          // myHeaders.append("Content-Type", "multipart/form-data");

          // send fetch along with cookies
          let response = await fetch('/member/memberinfo', {
            method: 'POST',
            credentials: 'same-origin',
            body: data,
            headers: myHeaders
          }).then(response => response.text())
          .then(result => console.log(result))
          .catch(error => console.log('error', error));

          // server responded with http response != 200
          if(response.status != 200)
            throw new Error('HTTP response code != 200');

          // read json response from server
          // success response example : {"error":0,"message":""}
          // error response example : {"error":1,"message":"File type not allowed"}
          let json_response = await response.json();
          if(json_response.error == 1)
            throw new Error(json_response.message);

        }
        catch(e) {
          // catch rejected Promises and Error objects
          return_data = { error: 1, message: e.message };
        }

        return return_data;
      }

      document.addEventListener("DOMContentLoaded", function(){
// Handler when the DOM is fully loaded
        requestPublicKey()

        // const googleLoginBtn = document.getElementById("googleLoginBtn");
        // googleLoginBtn.addEventListener("click", onClickGoogleLogin);

        // addEventListener
        document.querySelector("#chageMemberInfoBtn").addEventListener('click', async function() {
          let upload = await uploadFile();
        //   if(upload.error == 0)
        //     alert('File uploaded successful');
        //   else if(upload.error == 1)
        //     alert('File uploading failed - ' + upload.message);
        });
      });
    </script>
  </head>
  <body>
    <h1>Login</h1> <hr>
    <img src="/img/info.jpeg" />
    <img src="/member/image/e37bfa7f-aa03-4055-a4a2-3f2e533cb59b.png" width="300" height="300">

    <!-- <form action="/member/login" method="POST">
      <input type="hidden" />
      memberId : <input type="text" name="username"> <br>
      password : <input type="password" name="password"> <br>
      <button type="submit">Login</button>
    </form> <br> -->

    <form id="loginForm">
      beforePwd : <input type="password" name="beforePwd"> <br>
      afterPwd : <input type="password" name="afterPwd"> <br>
      <input type="button" onclick="ajax_change_password_send()" value="Change Password">Change Password </input>
    </form> <br>

    <form id="changePwdForm">
      memberId : <input type="text" name="memberId"> <br>
      password : <input type="password" name="password"> <br>
      <input type="button" onclick="ajax_send()" value="login">Login</input>
    </form> <br>

    <a href="/test/signup">Go to join! →</a>
<!--    <div id="googleLoginBtn" style="cursor: pointer">-->
<!--      Google Login-->
<!--    </div>-->
<!--    <div class="g-signin2" data-onsuccess="onSignIn"></div>-->
    <div class="g-signin2" onclick="onSignInByLoginBtnOnly();"></div>
    <form action="/test/uploadservlet"method="post" enctype="multipart/form-data">
      <ul>
        <li>상품명 <input type="text" name="itemName"></li>
        <li>첨부파일<input type="file" name="attachFile" ></li>
        <li>이미지 파일들<input type="file" multiple="multiple" name="imageFiles" ></li>
      </ul>
      <input type="submit"/>
    </form>

    <form action="/test/uploadspring"method="post" enctype="multipart/form-data">
      <ul>
        <li>상품명 <input type="text" name="itemName"></li>
        <li>첨부파일<input type="file" name="attachFile" ></li>
        <li>이미지 파일들<input type="file" multiple="multiple" name="imageFiles" ></li>
      </ul>
      <input type="submit"/>
    </form>
    <h1>실 파일 업로드 테스트.</h1>
    <div id="changeMemberInfoDiv">
      <ul>
        <li>name <input type="text" name="name"></li>
        <li>phoneNumber <input type="text" name="phoneNumber"></li>
        <li>emailAddress <input type="text" name="emailAddress"></li>
        <li>introduction <input type="text" name="introduction"></li>
        <li>profilePhoto<input type="file" name="profilePhoto" ></li>
        <li>backgroundPhoto<input type="file" name="backgroundPhoto" ></li>
        <button id="chageMemberInfoBtn">수정</button>
      </ul>
    </div>
  </body>


</html>