<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">-->
  <head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="618262920527-sl1h49hr7mugct12j5ab5g0q10kaso6n.apps.googleusercontent.com">
    <title>login</title>
    <script	src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
<!--    <script type="text/javascript" src="/resources/js/jsbn.js"></script>-->
<!--    <script type="text/javascript" src="/resources/js/rsa.js"/>"></script>-->
<!--    <script type="text/javascript" src="/resources/js/prng4.js"></script>-->
<!--    <script type="text/javascript" src="/resources/js/rng.js"></script>-->
<!--    <script type="text/javascript" src="/js/jsbn.js"></script>-->
<!--    <script type="text/javascript" src="/js/rsa.js"/>"></script>-->
<!--    <script type="text/javascript" src="/js/prng4.js"></script>-->
<!--    <script type="text/javascript" src="/js/rng.js"></script>-->
    <script type="text/javascript" src="/js/jsencrypt.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script th:inline="javascript">
      let grantType;
      let accessToken;
      let id_token;
      var auth2testInfo;
      var response;
      var rsaPublicKeyModulus;
      var rsaPublicKeyExponent;
      var publicKeyStr;
      let googleUserData;
      var accessTokenIssueRequestBaseUrl = "https://accounts.google.com/o/oauth2/v2/auth?client_id=";
      // const googleClientId = "this is example";
      /* <![CDATA[ */
      const googleClientId = /*[[ ${snsGoogleCliendId} ]]*/;
      /* ]] */

      // const authorizedRedirectionUri = "http://localhost:8080"
      const authorizedRedirectionUri = "http://localhost:8080/member/google/auth"

      const accessTokenIssueRequestUrl = accessTokenIssueRequestBaseUrl.concat(googleClientId)
      .concat("&redirect_uri=")
      .concat(authorizedRedirectionUri)
      .concat("&response_type=code &scope=email%20profile%20openid &access_type=offline");
      //
      function onSignIn(googleUser) {
        // debugger;

        googleUserData = googleUser;
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:8080/member/google/tokensignin');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
          console.log('Signed in as: ' + xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);

      }
      // [출처] [JAVASCRIPT] 구글 로그인 API 연동 넣기(JS, JavaScript)|작성자 Ohsanrim


      function onSignInByLoginBtnOnly() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2testInfo = auth2;
        if (auth2.isSignedIn.get()) {
          var profile = auth2.currentUser.get().getBasicProfile();
          console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log('Name: ' + profile.getName());
          console.log('Image URL: ' + profile.getImageUrl());
          console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
          id_token = auth2.currentUser.get().wc.id_token;
          // tokensigninTest()
        }
      }
      function tokensigninTest(){
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:8080/member/google/tokensignin');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
          console.log('Signed in as: ' + xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);
      }

      function snsLoginTest(){
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify({
          "tokenId": id_token,
        });

        var requestOptions = {
          method: 'POST',
          headers: myHeaders,
          body: raw,
          redirect: 'follow'
        };

        fetch("/member/snslogin/google", requestOptions)
                .then((response) => response.json())
                .then(function(data){
                  grantType = data.tokenInfo.grantType;
                  accessToken = data.tokenInfo.accessToken;
                })
                .catch(error => console.log('error', error));
                // .then(response => response.text())
                // .then(result => console.log(result))
                // .catch(error => console.log('error', error));
      }

      function simpleSignUpTest(name){
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify({
          "tokenId": id_token,
          "name" : name
        });

        var requestOptions = {
          method: 'POST',
          headers: myHeaders,
          body: raw,
          redirect: 'follow'
        };

        fetch("/member/simplesignup/google", requestOptions)
                .then((response) => response.json())
                .then(function(data){
                  grantType = data.tokenInfo.grantType;
                  accessToken = data.tokenInfo.accessToken;
                })
                .catch(error => console.log('error', error));
                // .then(response => response.text())
                // .then(result => console.log(result))

      }


      const onClickGoogleLogin = (e) => {
        //구글 인증 서버로 인증코드 발급 요청
        window.location.replace(accessTokenIssueRequestUrl);
      }

      function requestCurrentUser(){
        var myHeaders = new Headers();
        myHeaders.append("Authorization", grantType+" "+accessToken);

        var requestOptions = {
          method: 'GET',
          headers: myHeaders,
          redirect: 'follow'
        };

        fetch("/member/currentUser", requestOptions)
                .then(response => response.text())
                .then(result => console.log(result))
                .catch(error => console.log('error', error));
      }


      function ajax_send(){

        // 1. Using rsaPublicKeyModulus, rsaPublicKeyExponent
        // var rsa = new RSAKey();
        // rsa.setPublic(rsaPublicKeyModulus, rsaPublicKeyExponent);

        // 2. Using publicKey by JSEncrypt
        let rsaEncrypt = new JSEncrypt();
        rsaEncrypt.setPublicKey(publicKeyStr);

        var memberId = document.querySelectorAll("[name=memberId]")[0].value;
        var password = document.querySelectorAll("[name=password]")[0].value;

        // 1. Using rsaPublicKeyModulus, rsaPublicKeyExponent
        // var securedMemberId = rsa.encrypt(memberId);
        // var securedPassword = rsa.encrypt(password);

        // 2. Using publicKey by JSEncrypt
        var securedMemberId = rsaEncrypt.encrypt(memberId);
        var securedPassword = rsaEncrypt.encrypt(password);

        console.log("securedMemberId : "+ securedMemberId)
        console.log("securedPassword : "+ securedPassword)
        response = fetch("/member/login", {
          method: 'post',
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            // memberId : document.querySelectorAll("[name=memberId]")[0].value,
            // password : sha256(document.querySelectorAll("[name=password]")[0].value)
            memberId : securedMemberId,
            password : securedPassword
          })
        }).then((response) => response.json())
      .then(function(data){
        grantType = data.tokenInfo.grantType;
        accessToken = data.tokenInfo.accessToken;
      });
      }

      document.addEventListener("DOMContentLoaded", function(){
// Handler when the DOM is fully loaded
        console.log("hello world");
        response = fetch("http://localhost:8080/member/requestpublickey", {
          method: 'get'
        }).then((response) => response.json())
                .then(function (data){

                  //1
                  // rsaPublicKeyModulus = data.publicKeyInfo.publicKeyModulus;
                  // rsaPublicKeyExponent = data.publicKeyInfo.publicKeyExponent;

                  //2
                  publicKeyStr = data.publicKeyInfo.publicKeyStr;
                });

        const googleLoginBtn = document.getElementById("googleLoginBtn");
        googleLoginBtn.addEventListener("click", onClickGoogleLogin);

      });
    </script>
  </head>
  <body>
    <h1>Login</h1> <hr>
    <img src="/img/info.jpeg" />

    <!-- <form action="/member/login" method="POST">
      <input type="hidden" />
      memberId : <input type="text" name="username"> <br>
      password : <input type="password" name="password"> <br>
      <button type="submit">Login</button>
    </form> <br> -->

    <form id="loginForm">
      memberId : <input type="text" name="memberId"> <br>
      password : <input type="password" name="password"> <br>
      <input type="button" onclick="ajax_send()" value="login">Login</input>
    </form> <br>

    <a href="/test/signup">Go to join! →</a>
    <div id="googleLoginBtn" style="cursor: pointer">
      Google Login
    </div>
<!--    <div class="g-signin2" data-onsuccess="onSignIn"></div>-->
    <div class="g-signin2" onclick="onSignInByLoginBtnOnly();"></div>
  </body>
</html>