.activity-wrapper{
    display: flex;
    flex-direction: column;
}
.time-card{
    background-color: white;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.timeline .MuiTimelineDot-root{
    color : black;
}
.time-card .datetime-wrapper{
    display: flex;
    flex-direction: row;
}