.goal-content{
  margin : 20px;
  padding: 20px;
  background-color: rgba(130,143,146, 0.08);
  border-radius: 10px;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}

.goal-content .button-wrapper{
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

.goal-content .goal-cards-list{
  padding : 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.goal-content .card{
  border-radius: 6px 10px 10px 6px;
  border-left : 6px solid #cccccc;
  background-color: white;
  padding: 5px 12px 10px 14px;
  width: 200px;
  height: 250px;
  margin : 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 34px 60px 25px 44px 24px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.goal-content .card .path-tag-wrapper{
  display: flex;
}
.goal-content .card .path-tag{
  font-size : 12px;
  border-radius: 10px;
  background-color: rgba(25, 118, 210, 0.1);
  padding: 2px 6px;
  margin-right: 1px;
}
.goal-insert-btn{
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  border : none;
  background-color: white;
  width: 200px;
  height: 250px;
  margin : 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
}
.goal-insert-btn:hover{
  border : 3px solid #4EC3E0;
  transition: 0.5s;
  color : #4EC3E0;
}
.card .card-button-wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card .card-button-wrapper .deleteBtn {
  border: none;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  color: rgba(5, 23, 42, 0.6);
}
.card .card-button-wrapper .deleteBtn:hover{
  color: #1976d2;
  background-color: rgba(25, 118, 210, 0.04);
  border-radius: 4px;
}

.card .card-button-wrapper .modifyBtn {
  height: 30px;
  font-size: 12px;
  border: none;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  color: rgba(5, 23, 42, 0.6);
}
.card .card-button-wrapper .modifyBtn:hover{
  color: #1976d2;
  background-color: rgba(25, 118, 210, 0.04);
  border-radius: 4px;
}
.card .card-button-wrapper .lock-icon{
  font-size: 19px;
  color: #1976d2;
  vertical-align: middle;
  margin-right: 5px;
}
.card .title{
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .content{
  font-size: 14px;
  margin: 5px 0;
  overflow: hidden;
  display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}
.card .datetime{
  font-size: 12px;
  margin: 5px 0 ;
}
.card .tag{
  border-radius: 10px;
  background-color: rgba(25, 118, 210, 0.1);
  padding: 2px 6px;
  margin-right: 1px;
  font-size: 12px;
}
.card .progressRate{
  font-size: 14px;
  text-align: center;
}
