.goal-list{
    background-color: white;
    border-radius: 10px;
    padding : 15px 5px 10px 5px;
}
.goal-list p{
    font-size: 14px;
}
.goal-list span{
    font-size: 12px;
}
.goal-title-wrapper{
    display: flex;
    margin-bottom: 2px;
}
.total-check-wrapper{
    display: flex;
    align-items: center;
    padding : 2px 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.total-check-wrapper .total-check{
    font-size: 14px;
}

.goal-title-wrapper .checkbox-wrapper{
    /* border: 1px solid red; */
}
.goal-title-wrapper .custom-node{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goal-title-wrapper .goal-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    width: 180px;
    padding-left: 10px;
}
.goal-title-wrapper .color-tag{
    width: 22px;
    height: 100%;
}
.goal-title-wrapper .color-tag .arrow-icon{
    font-size: 22px;
    padding : 0;
    height: 100%;
}
.goal-title-wrapper .open .arrow-icon {
    transform: rotate( 180deg )
}