.goal-list{
    background-color: white;
    border-radius: 10px;
    padding : 15px 10px 10px 0;
}
.goal-list p{
    font-size: 14px;
}
.goal-list span{
    font-size: 12px;
}
.goal-title-wrapper{
    display: flex;
    margin-bottom: 2px;
}
.goal-title-wrapper .checkbox-wrapper{
    /* border: 1px solid red; */
}
.goal-title-wrapper .custom-node{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goal-title-wrapper .goal-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}
.goal-title-wrapper .color-tag{
    width: 22px;
    height: 100%;
}
.goal-title-wrapper .color-tag .arrow-icon{
    font-size: 22px;
    padding : 0;
    height: 100%;
}
.goal-title-wrapper .open .arrow-icon {
    transform: rotate( 180deg )
}