
.goal-content{
    padding: 10px;
    border : 1px solid red;
    margin : 20px;
  }
  .align-buttons{
    display: flex;
    justify-content: flex-end;
  }
  .goal-content .goal-cards-list{
    padding : 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card{
    border-radius: 10px;
    border-left : 6px solid #cccccc;
    background-color: white;
    padding: 0 10px;
    width: 180px;
    height: 250px;
    margin : 10px;
  }

  .goal-insert-btn{
    border-radius: 10px;
    border : 3px solid #cccccc;
    background-color: white;
    padding: 0 10px;
    width: 180px;
    height: 250px;
    margin : 10px;
    cursor: pointer;
    font-size: 16px;
  }
  .goal-insert-btn:hover{
    border : 3px solid #4EC3E0;
    transition: 0.5s;
    color : #4EC3E0;
  }
  .tag-color-preview{
    width: 10px;
    height: 10px;
  }