/* 모바일용 모달 스크롤 */
@media  (max-height: 700px) {
    .modal-goalList-form{
        max-height: 70vh;
    }
}
.modal-goalList-form{
    overflow-y: auto;
    padding-right: 10px;
}
.prevGoalTitleList{
    border: 1px solid rgba(0, 0, 0, 0.22);
    border-radius: 4px;
    background-color: #eaf4fd;
    height: 40px;
    width: 80px;
    cursor: pointer;
}
.modal-goalList-title{
    font-size: 16px;
    margin: 20px 0;
    font-weight: bold;
}
.modal-goalList-desc{
    font-size: 14px;
}
.modal-goalList-time-p{
    font-size: 12px;
}
.modal-goalList-goal-p{
    font-size: 12px;
}
.modal-goalList-period-p{
    font-size: 12px;
}
.modal-goal-list{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
    padding : 0 5px;
}
.modal-goal-list p{
    font-size: 14px;
}
.modal-goal-list span{
    font-size: 12px;
}
.modal-goal-list .goal-choice{
    width: 290px;
    background-color: white;
    border-radius: 10px;
    padding : 5px;
    max-height: 300px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.modal-goal-list .MuiFormControlLabel-label{
    display: none;
}
.modal-goal-list .none-choice{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 14px;
}
.modal-goal-list .MuiFormControlLabel-root{
    margin-right: 0px;
}
.modal-goal-list .goal-title-wrapper .custom-node{
    width: 240px;
}


.modal-goal-list .search-input-wrapper{
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
}
.modal-goal-list .search-input-wrapper input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    border : none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    outline: none;
}
.modal-goal-list .search-input-wrapper .search-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;    
    color: rgba(5, 23, 42, 0.6);
    padding-right: 10px;
    padding-bottom: 2px;
}