.left-nav{
    /* border : 1px solid blue; */
    padding : 20px;
    background-color: rgba(78, 195, 224, 0.1);
    border-radius: 10px;
    margin-top : 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.left-nav p{
    font-weight: bold;
}
