.left-nav{
    /* border : 1px solid blue; */
    padding : 20px;
    background-color: rgba(78, 195, 224, 0.1);
    border-radius: 10px;
    margin-top : 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.left-nav p{
    font-weight: bold;
}
.left-nav .goal-list{
    background-color: white;
    border-radius: 10px;
    padding : 10px;
}
.left-nav .goal-list ul li{
    display: grid;
    grid-template-columns: 90% 10px;
    margin : 3px;
    
}
.left-nav .goal-list p{
    font-size: 14px;
}
.left-nav .goal-list ul li .class-1{
    background-color: rgba(255,93,93, 0.1);
    padding: 10px;
    margin : 0;
}
.left-nav .goal-list ul li .color-tag{
    background-color: #FF5D5D;
    padding: 10px;
}

.left-nav .goal-list ul li .class-2{
    background-color: #EFEFEF;
    padding: 7px 10px;
    margin : 0;
    font-size: 13px;
}
.left-nav .goal-list ul li .none-tag{
    background-color: #EFEFEF;
    padding: 7px 10px;
}
