.nav {
  position: fixed;
  background-color: white;
  padding: 0 100px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 70px;
  width: 100%;
  position: relative;
  /* light 버전 background */
  background: linear-gradient(140deg, #4EC3E0, #3292EB);
  /* background: #4EC3E0; */
  background-attachment: fixed;
  border-bottom: 1px solid #b2e0e0;
  align-items: center;
}
.title{
  padding: 0 20px;
}
.title a{
  font-size: 2.2em;
  font-weight: 700;
  color: var(--black);
}   
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.menu li{
  display: inline-block;
  width: 180px;
  text-align: center;
}
.menu li a{
  color: var(--black);
  white-space:nowrap;
  font-weight: 600;
  font-size: 16px;
}
.sign{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.sign li{
  display: inline-block;
  text-align: center;
  width: 100px;
}
.sign li a {
  white-space: nowrap;
  color: var(--black);
  font-weight: 600;
  font-size: 16px;
}
.sign .logout-btn{
  background-color: transparent;
  border: 1px solid #b2e0e0;
  color: var(--black);
  border-radius: 10px;
  background-color: #b2e0e0;
  padding: 2px 8px;
  cursor: pointer;
}

@media screen and (max-width: 1090px) {
  .nav {
    left: initial;
    top: initial;
    bottom: 0px;
    width: 100%;
  }
}
