/* 저장 취소 버튼 공통 */
.mypage .button-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 14px 14px 0 0 ;

  position: absolute;
  right: 0;
  z-index: 99;
}
.mypage .submitBtn{
  border: 1px solid #3292EB;
  border-radius: 4px;
  background-color: #3292EB;
  min-width: 60px;
  color : white;
  font-size: 14px;
  margin-right: 4px;
  cursor: pointer;
  height: 40px;
}
.mypage .cancleBtn{
  border: 1px solid rgba(0, 0, 0, 0.22);
  border-radius: 4px;
  background-color: #eaf4fd;
  min-width: 60px;
  cursor: pointer;
  height: 40px;
}
.mypage .modifyBtn{
  border: 1px solid #3292EB;
  border-radius: 4px;
  background-color: #3292EB;
  min-width: 60px;
  color : white;
  font-size: 14px;
  margin-right: 4px;
  cursor: pointer;
  height: 40px;
}


/* 전체 프로필 박스 */
.profile-main-wrapper{
  border-radius: 10px;
  position: relative;
}

.profile-wrapper{
  position: relative;
}

.profile-background-wrapper{
  width : 100%;
  height: 100%;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  border-radius: 10px;
}
.profile-background{
  z-index: -99;
  border-radius: 10px;
}

.profile-contents-wrapper {
  padding : 50px 100px;
  background-color: rgba(0,0,0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

@media screen and (max-width : 740px) {
  .profile-contents-wrapper{
    flex-direction: column;
    padding : 40px 30px;
    gap: 10px;
  }
  .profile-contents-wrapper .profile-texts{
    order : 2;
    width:  90%;
  }
  .profile-photo{
    margin-top: 60px;
  }
  /* .profile-wrapper .profile-background-wrapper .profile-backgroun{
    height: 460px;
  } */
}

.profile-texts{
  display: flex;
  flex-direction: column;
  gap : 5px;
  flex-grow: 1;
}

/* 이름, 소개 공통 */
.profile-text {
  display: flex;
  padding: 10px 0;
  font-size: 16px;
}
.profile-text-content {
  padding-right : 10px;
}



.profile-name .profile-text-content{
  font-weight: 700;
  margin-bottom: 10px;
}
.profile-emailAddress .profile-text-content{
  font-size: 0.9em;
}
.profile-phoneNumber .profile-text-content{
  font-size: 0.9em;
}

.profile-photo{
  /* margin : 0 50px; */
  position: relative;
}

.edit-icon {
  color : #3292EB;
  font-size: 30px;
  cursor: pointer;
}



.profile-background-wrapper .edit-icon{
  margin : 0 10px 10px 0;
}

/* 파일선택 버튼 공통 */
.profile-background-wrapper .file-wrapper{
  display: flex;
  flex-direction: row;
}
.profile-photo .file-wrapper{
  display: flex;
  flex-direction: row;
}

.file-dropper label { 
  position: absolute;
  bottom : 0;
  right : 0;
  z-index: 10;
} 

.file-dropper input[type="file"] { 
  /* 파일 필드 숨기기 */ 
  position: absolute; 
  width: 1px; 
  height: 1px; 
  padding: 0; 
  margin: -1px; 
  overflow: hidden; 
  clip:rect(0,0,0,0); 
  border: 0; 
  color: white;
}

