<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lds.trackdayb.repository.GoalManageRepository">
    <insert id="insertGoal" useGeneratedKeys="true" keyProperty="goalId">
        INSERT INTO goal (
            <if test="parentId != null and !parentId.equals('')">
                parent_id,
            </if>
            <if test="kind != null and !kind.equals('')">
                kind,
            </if>
            <if test="content != null and !content.equals('')">
                content,
            </if>
            <if test="startDatetime != null and !startDatetime.equals('')">
                    start_datetime,
            </if>
            <if test="endDatetime != null and !endDatetime.equals('')">
                    end_datetime,
            </if>
            <if test="progressRate != null and !progressRate.equals('')">
                    progress_rate,
            </if>
            <if test="color != null and !color.equals('')">
                    color,
            </if>
            <if test="shareStatus != null and !shareStatus.equals('')">
                share_status,
            </if>
            member_serial_number,
            title
            )
	    VALUES (
            <if test="parentId != null and !parentId.equals('')">
                #{parentId},
            </if>
            <if test="kind != null and !kind.equals('')">
                #{kind},
            </if>
            <if test="content != null and !content.equals('')">
                #{content},
            </if>
            <if test="startDatetime != null and !startDatetime.equals('')">
                #{startDatetime},
            </if>
            <if test="endDatetime != null and !endDatetime.equals('')">
                    #{endDatetime},
            </if>
            <if test="progressRate != null and !progressRate.equals('')">
                    #{progressRate},
            </if>
            <if test="color != null and !color.equals('')">
                    #{color},
            </if>
            <if test="shareStatus != null and !shareStatus.equals('')">
                    #{shareStatus},
            </if>
            #{memberSerialNumber},
            #{title}
            );
    </insert>

    <insert id="insertPeriodicityInfo">
        INSERT INTO periodicity_info (
            goal_id,
            time_unit,
            <if test="count != null and !count.equals('')">  
                    count,
            </if>
            <if test="sunYn != null and !sunYn.equals('')">  
                    sun_yn,
            </if>
            <if test="monYn != null and !monYn.equals('')">  
                    mon_yn,
            </if>
            <if test="tueYn != null and !tueYn.equals('')">  
                    tue_yn,
            </if>
            <if test="wedsYn != null and !wedsYn.equals('')">
                    weds_yn,
            </if>
            <if test="thurYn != null and !thurYn.equals('')">
                    thur_yn,
            </if>
            <if test="friYn != null and !friYn.equals('')">
                    fri_yn,
            </if>
            <if test="satYn != null and !satYn.equals('')">
                    sat_yn,
            </if>
            type
            )
            VALUES (
                #{goalId},
                #{timeUnit},
                <if test="count != null and !count.equals('')">
                        #{count},
                </if>
                <if test="sunYn != null and !sunYn.equals('')">
                        #{sunYn},
                </if>
                <if test="monYn != null and !monYn.equals('')">
                        #{monYn},
                </if>
                <if test="tueYn != null and !tueYn.equals('')">
                        #{tueYn},
                </if>
                <if test="wedsYn != null and !wedsYn.equals('')">
                        #{wedsYn},
                </if>
                <if test="thurYn != null and !thurYn.equals('')">
                        #{thurYn},
                </if>
                <if test="friYn != null and !friYn.equals('')">
                        #{friYn},
                </if>
                <if test="satYn != null and !satYn.equals('')">
                        #{satYn},
                </if>
                #{type}
                );
    </insert>

    <update id="updateGoal">
        UPDATE goal
        SET
        <choose>
                <when test="!parentId.equals('')">
                        parent_id = #{parentId},
                </when>
                <otherwise>
                        parent_id = NULL,
                </otherwise>
        </choose>
        <if test="memberSerialNumber != null and !memberSerialNumber.equals('')">
                member_serial_number = #{memberSerialNumber},
        </if>
        <if test="title != null and !title.equals('')">
                title = #{title},
        </if>
        <if test="kind != null and !kind.equals('')">
                kind = #{kind},
        </if>
        <if test="content != null">
                content = #{content},
        </if>
        <if test="startDatetime != null and !startDatetime.equals('')">
                start_datetime = #{startDatetime},
        </if>
        <if test="endDatetime != null and !endDatetime.equals('')">
                end_datetime = #{endDatetime},
        </if>
        <if test="progressRate != null and !progressRate.equals('')">
                progress_rate = #{progressRate},
        </if>
        <if test="color != null">
                color = #{color},
        </if>
        <if test="shareStatus != null and !shareStatus.equals('')">
                share_status = #{shareStatus},
        </if>
            modification_datetime = now()
        WHERE
            goal_id = #{goalId}

    </update>
    <update id="updatePeriodicityInfo">
        UPDATE periodicity_info
        SET
        <if test="timeUnit != null and !timeUnit.equals('')">
                time_unit = #{timeUnit},
        </if>
        <if test="type != null and !type.equals('')">
                type = #{type},
        </if>
        <if test="count != null and !count.equals('')">
                count = #{count},
        </if>
        <if test="sunYn != null and !sunYn.equals('')">
                sun_yn = #{sunYn},
        </if>
        <if test="monYn != null and !monYn.equals('')">
                mon_yn = #{monYn},
        </if>
        <if test="tueYn != null and !tueYn.equals('')">
                tue_yn = #{tueYn},
        </if>
        <if test="wedsYn != null and !wedsYn.equals('')">
                weds_yn = #{wedsYn},
        </if>
        <if test="thurYn != null and !thurYn.equals('')">
                thur_yn = #{thurYn},
        </if>
        <if test="friYn != null and !friYn.equals('')">
                fri_yn = #{friYn},
        </if>
        <if test="satYn != null and !satYn.equals('')">
                sat_yn = #{satYn},
        </if>
            modification_datetime = now()
        WHERE
            goal_id = #{goalId}
    </update>

    <update id="deleteGoal">
        UPDATE goal
        SET
            deletion_status = 'Y',
            modification_datetime = now()
        WHERE
            goal_id = #{goalId}
    </update>

    <update id="deletePeriodicityInfo">
        UPDATE periodicity_info
        SET
            deletion_status = 'Y',
            modification_datetime = now()
        WHERE
            goal_id = #{goalId}
    </update>

    <resultMap id="goalFullResultMap" type="com.lds.trackdayb.mvo.GoalMVO"> 
        <id column="goal_id" property="goalId"/> 
        <result column="pi_periodicity_id" property="periodicityInfo.periodicityId"/>
        <result column="pi_goal_id" property="periodicityInfo.goalId"/>
        <result column="pi_time_unit" property="periodicityInfo.timeUnit"/>
        <result column="pi_type" property="periodicityInfo.type"/>
        <result column="pi_count" property="periodicityInfo.count"/>
        <result column="pi_sun_yn" property="periodicityInfo.sunYn"/>
        <result column="pi_mon_yn" property="periodicityInfo.monYn"/>
        <result column="pi_tue_yn" property="periodicityInfo.tueYn"/>
        <result column="pi_weds_yn" property="periodicityInfo.wedsYn"/>
        <result column="pi_thur_yn" property="periodicityInfo.thurYn"/>
        <result column="pi_fri_yn" property="periodicityInfo.friYn"/>
        <result column="pi_sat_yn" property="periodicityInfo.satYn"/>
        <result column="pi_create_datetime" property="periodicityInfo.createDatetime"/>
        <result column="pi_modification_datetime" property="periodicityInfo.modificationDatetime"/>
        <result column="pi_deletion_status" property="periodicityInfo.deletionStatus"/>
</resultMap>
    <sql id="goalSearchConditionQuery">
        WHERE 
        1=1
        <if test="searchStartDatetime != null and !searchStartDatetime.equals('')">
            <choose>
                <when test='searchRangeOption != null and searchRangeOption.equals(@com.lds.trackdayb.util.CommonCodeUtil@SEARCH_RANGE_CORRECT)'>
                        AND
                        #{searchStartDatetime} <![CDATA[<=]]> g.start_datetime
                </when>
                <otherwise>
                        AND
                        #{searchStartDatetime} <![CDATA[<=]]> g.end_datetime
                </otherwise>
            </choose>

        </if>
        <if test="searchEndDatetime != null and !searchEndDatetime.equals('')">
                <choose>
                        <when test='searchRangeOption != null and searchRangeOption.equals(@com.lds.trackdayb.util.CommonCodeUtil@SEARCH_RANGE_CORRECT)'>
                                AND 
                                /*시분초가 없는 종료 날짜를 포함하기 위한 조치.*/
                                g.end_datetime  <![CDATA[<]]>  DATE_ADD(#{searchEndDatetime}, INTERVAL 1 DAY)
                        </when>
                        <otherwise>
                                AND 
                                /*시분초가 없는 종료 날짜를 포함하기 위한 조치.*/
                                g.start_datetime  <![CDATA[<]]>  DATE_ADD(#{searchEndDatetime}, INTERVAL 1 DAY)
                        </otherwise>
                </choose>

        </if>
        <if test="searchKind != null and !searchKind.equals('')">
            AND 
            g.kind = #{searchKind}
        </if>
        <if test="searchGoalId != null">
                AND 
                g.goal_id = #{searchGoalId}
        </if>
	<if test="searchGoalIdList != null and !searchGoalIdList.isEmpty()">
            AND 
            g.goal_id IN 
            <foreach collection="searchGoalIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="searchParentId != null">
                AND 
                g.parent_id = #{searchParentId}
        </if>
        <if test="memberSerialNumber != null and !memberSerialNumber.equals('')">
            AND 
            g.member_serial_number = #{memberSerialNumber}
        </if>
        AND
            g.deletion_status = 'N'

    </sql>

    <select id="getGoalFullList" resultMap="goalFullResultMap">
        SELECT 
                g.*, 
                FNC_GOAL_ID_PATH(g.goal_id) as goal_id_path,
                FNC_GOAL_TITLE_PATH(g.goal_id) as goal_title_path,
                pi2.periodicity_id as pi_periodicity_id,
                pi2.goal_id as pi_goal_id,
                pi2.time_unit as pi_time_unit,
                pi2.type as pi_type,
                pi2.count as pi_count,
                pi2.sun_yn as pi_sun_yn,
                pi2.mon_yn as pi_mon_yn,
                pi2.tue_yn as pi_tue_yn,
                pi2.weds_yn as pi_weds_yn,
                pi2.thur_yn as pi_thur_yn,
                pi2.fri_yn as pi_fri_yn,
                pi2.sat_yn as pi_sat_yn,
                pi2.create_datetime as pi_create_datetime,
                pi2.modification_datetime as pi_modification_datetime,
                pi2.deletion_status as pi_deletion_status
        FROM goal g 
        left outer join periodicity_info pi2 
        on g.goal_id =pi2.goal_id 
        AND g.kind = 'regular'
        <include refid="goalSearchConditionQuery" />
        <choose>
                <when test="orderColumn != null and !orderColumn.equals('') and orderType != null and !orderType.equals('')">
                        ORDER BY
                                g.${orderColumn} ${orderType}
                </when>
                <otherwise>
                        ORDER BY
                                g.modification_datetime desc
                </otherwise>
        </choose>
    </select>
    <select id="getGoalTitleList" resultType="GoalMVO">
        select 
        g.goal_id,
        g.parent_id,
        g.member_serial_number,
        g.title,
        g.kind,
        g.start_datetime,
        g.end_datetime,
        g.progress_rate,
        g.color,
        g.create_datetime,
        g.modification_datetime,
        FNC_GOAL_ID_PATH(g.goal_id) as goal_id_path,
        FNC_GOAL_TITLE_PATH(g.goal_id) as goal_title_path
        from goal g 
        <include refid="goalSearchConditionQuery" />
        <choose>
                <when test="orderColumn != null and !orderColumn.equals('') and orderType != null and !orderType.equals('')">
                        ORDER BY
                                g.${orderColumn} ${orderType}
                </when>
                <otherwise>
                        ORDER BY
                                g.modification_datetime desc
                </otherwise>
        </choose>

    </select>
    <select id="argListTest" resultType="String">
        SELECT CONCAT(#{array[0]}, #{array[1]}, #{array[2]})
    </select>

</mapper>