<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lds.trackdayb.repository.MemberRepository">
    <update id="updateRefreshToken">
        UPDATE member
        SET refresh_token = #{refreshToken}
        WHERE member_id = #{memberId}
    </update>
    <update id="withdrawal" parameterType="string">
        UPDATE member
        SET active_user_status = 'N',
            withdrawal_datetime = NOW(),
            deletion_status = 'Y',
            modification_datetime = NOW()
        WHERE member_serial_number = #{value};
    </update>
    <update id="changePassword" parameterType="map">
        UPDATE member
        SET password = #{newPassword}
        WHERE member_serial_number = #{memberSerialNumber}
    </update>
    <delete id="deleteSnsLinkInfo" parameterType="string">
        DELETE FROM sns_link_info
        WHERE member_serial_number = #{value};
    </delete>

    <select id="findByMemberId" resultType="com.lds.trackdayb.entity.MemberEntity">
    SELECT *
    FROM member
    WHERE
    member_id = #{value}
    LIMIT 1;
    </select>

    <select id="findByMemberIdAndPassword" resultType="com.lds.trackdayb.entity.MemberEntity">
        SELECT *
        FROM member
        WHERE
        member_id = #{memberId}
        and
        password=#{password}
        LIMIT 1;
    </select>
    <select id="findByLinkedEmail" resultType="com.lds.trackdayb.entity.MemberEntity">
        SELECT * FROM member m
        WHERE EXISTS (SELECT 1
                      FROM
                          sns_link_info sli
                      WHERE m.member_serial_number =sli.member_serial_number
                        AND sli.linked_email = #{value})
    </select>
    <select id="selectDuplicateLinkedEmailInSnsLinkInfo" resultType="com.lds.trackdayb.entity.SnsLinkInfo">
        SELECT * FROM sns_link_info /* MemberRepository.selectDuplicateLinkedEmailInSnsLinkInfo */
        where linked_email = #{value}
    </select>

    <select id="findAllSnsLinkInfo" resultType="com.lds.trackdayb.entity.SnsLinkInfo">
        SELECT * FROM sns_link_info /* MemberRepository.findAllSnsLinkInfo */
        where member_serial_number = #{value}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="memberSerialNumber">
        insert into member(
                    auth
                    ,member_id
                    ,name
                    ,phone_number
                    ,email_address
            <if test="introduction != null and !introduction.equals('')">
                    ,introduction
            </if>
            <if test="profilePhotoId != null and !profilePhotoId.equals('')">
                    ,profile_photo_id
            </if>
            <if test="backgroundPhotoId != null and !backgroundPhotoId.equals('')">
                    ,background_photo_id
            </if>
            <if test="password != null and !password.equals('')">
                    ,password
            </if>
            <if test="remark != null and !remark.equals('')">
                    ,remark
            </if>
        )
        values(
                    #{auth}
                    ,#{memberId}
                    ,#{name}
                    ,#{phoneNumber}
                    ,#{emailAddress}
            <if test="introduction != null and !introduction.equals('')">
                    ,#{introduction}
            </if>
            <if test="profilePhotoId != null and !profilePhotoId.equals('')">
                    ,#{profilePhotoId}
            </if>
            <if test="backgroundPhotoId != null and !backgroundPhotoId.equals('')">
                    ,#{backgroundPhotoId}
            </if>
            <if test="password != null and !password.equals('')">
                    ,#{password}
            </if>
            <if test="remark != null and !remark.equals('')">
                    ,#{remark}
            </if>
        )

    </insert>
    <insert id="upsertSnsLinkInfo" parameterType="com.lds.trackdayb.entity.SnsLinkInfo">
        /* MemberRepository.upsertSnsLinkInfo */
        INSERT INTO trackday.sns_link_info
            (member_serial_number, sns_type, linked_email, modification_datetime)
        VALUES(#{memberSerialNumber}, #{snsType}, #{linkedEmail}, NOW())
        ON DUPLICATE KEY UPDATE
            linked_email = #{linkedEmail}
    </insert>
</mapper>