<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="search_area">
    <div class="search_detail_area">
        <select name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>ㄴㅇㄹ
        <label>년</label>
        <select name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
        <label>월</label>
        <select name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
        <label>일</label>
        <button>검색</button>
    </div>
</div>
<div class="reference_favorite_select_area">
    <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
    </select>
    <table></table>
</div>
<div class="data_transfer_and_help_area">
</div>
<div class="main_record_area">
</div>
<div class="reference_record_area">
</div>
efwfew
<h1>helleefwafaeafewaewf</h1>
gersrgrgsr
efawwaefeafw
afafwP
efwweefw
test
test2

</body>
</html>