<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>
    <div layout:fragment="content">

        hi
        <script>
            var selectionDate; 
            var selectedRFId;
        
            jQuery(function($) {
        
        
                // 이벤트 핸들러 등록.
                $('select#referenceFavoriteSelect').on('change', function(){

                    // 참조 즐겨찾기: 기본 설정 표시하기.
                    selectedRFId = $(this).val();
                    $('.reference_favorite_info_area').html($("#referenceFavoriteRelativeTimeInfoSampleList table[data-reference-favorite-id="+ selectedRFId + "]").clone());


                    $("input[name='referenceCheck']").unbind('change');
                    $("input[name='referenceCheck']").on('change', function(){
                        var index = $(this).closest('td').index();
                        var selectedCalculatedDate = $(this).closest('table').find("tr[name='calculateDateRow']").children().eq(index).text();
                        if($(this).prop('checked')){
                            $("div[data-selecteddate='" + selectedCalculatedDate +"']").show()
                        }else{
                            $("div[data-selecteddate='" + selectedCalculatedDate +"']").hide()
                        }
                    });

                    // 참조 즐겨찾기 정보 : 체크박스 모두 체크 처리(초기 상태.)
                    $(".reference_favorite_info_area input[name='referenceCheck']").prop('checked', true);
                    
                    var listParam = [];
                    $('.reference_favorite_info_area tr:first td').each(function(index){
                        var relativeInfo = $(this).text();
                        var resultDate = calculateDate($('input#selectionDate').val(),relativeInfo);
                        listParam.push(resultDate);

                        $('.reference_favorite_info_area tr:eq(1) td:eq('+ index + ')').text(resultDate);
                    });
                    
                    // 참고를 위한 레코드 목록 부르기.
                    //$('#time_record_main_box').load('/timeManage/viewTimeRecordList', JSON.stringify(listParam)
                    $('#reference_record_box').load('/timeManage/viewTimeRecordList', {'selectedDateList':listParam});
                });

                // time record 부르기.
                $('#time_record_main_box').load('/timeManage/viewTimeRecord?selectionDate=' + $('input#selectionDate').val(), function(data){
                    if($('#time_record_main_box .data_empty').length != 0){
                        //데이터 없음.
                        $("button#btnCreate").show();
                        $("button#btnEdit").hide();
                        $("button#btnDelete").hide();
                        $("button#btnShare").hide();
                    }else{
                        $("button#btnCreate").hide();
                    }
                });

                // FIXME
                debugger;
        
                $("#btnSearch").on("click",function(){
                    location.href="/timeManage/record" +"?selectionDate=" + $("[name='yearSelect']").val() + "-" + $("[name='monthSelect']").val()+"-"+ $("[name='daySelect']").val();
                });

                $("#btnCreate").on("click",function(){

                });

                $("#btnEdit").on("click",function(){
                });

                $("#btnDelete").on("click",function(){

                });

                $("#btnShare").on("click",function(){

                });
        
                // 기본 참고 즐겨찾기 선택
                $('#referenceFavoriteSelect').val($(".model_data input[name='defaultReferenceFavoriteId']").val()).trigger('change');
        
                // FIXME
                $("#select2Test").select2();
            });
        </script>
        <div class="model_data">
            <input type="hidden" th:value="${selectionDate}" th:attr="name='selectionDate'"></input>
            <input type="hidden" th:value="${referenceFavoriteDefaultSetting.referenceFavoriteId}" th:attr="name='defaultReferenceFavoriteId'"></input>
            <div name="classificationList">
                <input type="hidden" th:each="item : ${classificationList}" th:value="${item.name}" th:attr="name=${item.classificationId}"></input>
            </div>
        
        </div>
        <input id="selectionDate" hidden th:value="${selectionDate}">
        <div class="search_area" style="border: 1px solid;">
            FIXME search_area
            <div class="search_detail_area">
                <select name="yearSelect" id="yearSelect">
                    <option th:each="num : ${#numbers.sequence(2020,2045)}" th:value="${num}" th:text="${num}" th:selected="${#strings.substring(selectionDate, 0, 4) == #strings.toString(num)}"></option>
                </select>
                <label>년</label>
                <select name="monthSelect" id="monthSelect">
                    <option th:each="num : ${#numbers.sequence(1,12)}" th:value="${#numbers.formatInteger(num,2)}" th:text="${#numbers.formatInteger(num,2)}" th:selected="${#strings.substring(selectionDate, 5, 7) == #strings.toString(#numbers.formatInteger(num,2))}"></option>
                </select>
                <label>월</label>
                <select name="daySelect" id="daySelect">
                    <option th:each="num : ${#numbers.sequence(1,31)}" th:value="${#numbers.formatInteger(num,2)}" th:text="${#numbers.formatInteger(num,2)}" th:selected="${#strings.substring(selectionDate, 8, 10) == #strings.toString(#numbers.formatInteger(num,2))}"></option>
                </select>
                <label>일</label>
                <button id="btnSearch">검색</button>
            </div>
        </div>
        FIXME -------------
        <br>
        <div class="reference_favorite_select_area" style="border: 1px solid;">
            FIXME reference_favorite_select_area
            <select id="referenceFavoriteSelect">
                <option th:each="item : ${referenceFavoriteList}" th:value="${item.referenceFavoriteId}" th:text="${item.name}"></option>
            </select>
            <div class="reference_favorite_info_area" style="border: 1px solid;">
                FIXME reference_favorite_info_area
        
            </div>
            
        </div>
        <div class="data_transfer_and_help_area">
            <button>import</button>
            <button>export</button>
            <button>도움말</button>
            <button>양식다운로드</button>
        </div>
        <div class="main_record_area">
            <div class="main_record_left_area">
                <table>
                    <tr>
                        <th>
                            checkbox
                        </th>
                        <th>상세분류</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></td>
                        <td>목표</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></td>
                        <td>내역</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></td>
                        <td>반성</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></td>
                        <td>기타</td>
                    </tr>
                </table>
            </div>
            <div class="main_record_right_area" style="border: 1px solid;">
                FIXME main_record_right_area
                <div id="time_record_main_box"></div>
            </div>
            <div class="action_bar">
                <button id="btnCreate">생성하기</button>
                <button id="btnEdit">수정하기</button>
                <button id="btnDelete">삭제하기</button>
                <button id="btnShare">공유하기</button>
            </div>
        </div>
        <div class="reference_record_area" style="border: 1px solid;">
            FIXME reference_record_area
            <div id="reference_record_box"></div>
        
        </div>
        
        <div id="referenceFavoriteRelativeTimeInfoSampleList" style="display:none;">
            <table th:each="rfList : ${referenceFavoriteList}" th:attr="data-reference-favorite-id=${rfList.referenceFavoriteId}">
                <tr>
                    <th> 상대정보 </th>
                    <td th:each="rfInfo : ${rfList.relativeTimeInfoList}" th:text="${rfInfo}"></td>
                    <!-- <td> -2d </td>
                    <td> -3d </td> -->
                </tr>
                <tr name="calculateDateRow">
                    <th>계산시간</th>
                    <td th:each="rfItem : ${rfList.relativeTimeInfoList}"></td>
                    <!-- <td>2021년 5월 18일</td> -->
                </tr>
                <tr>
                    <th> 참조체크 </th>
                    <td th:each="rfItem : ${rfList.relativeTimeInfoList}"><input type="checkbox" name="referenceCheck" value="check"></td>
                </tr>
        
            </table>
        </div>
        
        <div id="time_record_sample_box"></div>
        <select id="select2Test">
            <option value="">서태지</option>
            <option value="">양현석</option>
            <option value="">이주노</option>
        </select>
        <input type="datetime-local" />
    </div>


</body>
</html>