<html xmlns:th="http://www.thymeleaf.org">
<div class= "time_record_element_area" th:fragment="timeRecordFragment(timeRecord)">
    <label th:text="${timeRecord.selectionDate}"></label>
<table >
    <!-- <table border="1"></table> -->
    <tr>
        <th>시작</th>
        <th>종료</th>
        <th>분류</th>
        <th>상세분류</th>
        <th>상세내용</th>
    </tr>
    <tbody th:if="${timeRecord != null} and ${#lists.size(timeRecord.activityRecordDTOList) > 0 } " th:each="item, status : ${timeRecord.activityRecordDTOList}">
        <tr>
            <td rowspan="3" th:text="${item.startDatetime}"></td>
            <td rowspan="3" th:text="${item.endDatetime}"></td>
            <td rowspan="3" th:text="${item.classificationName}"></td>
            <td>목표</td>
            <td th:text="${item.goalContent}"></td>
        </tr>
        <tr>
            <td>성과</td>
            <td th:text="${item.outcomeContent}"></td>
        </tr>
        <tr>
            <td>평가</td>
            <td th:text="${item.reflectionContent}"></td>
        </tr>
    </tbody>
    <tbody th:unless="${#lists.size(timeRecord.activityRecordDTOList)> 0}">
        <tr class="data_empty">
            <td colspan="5">데이터가 없습니다.</td>
        </tr>
    </tbody>
</table>
</div>
</html>