<html xmlns:th="http://www.thymeleaf.org">
    <div class="time_record_list_area">
        <div th:each="timeRecord : ${timeRecordList}" th:attr="data-selectedDate=${timeRecord.selectionDate}">
            <div th:replace="/timeManage/timeRecordView.html :: timeRecordFragment(${timeRecord})">
            </div>
        </div>
    </div>
</html>

<!-- <div class="time_record_list_area">
    <div th:each="timeRecord : ${timeRecordList}"  th:replace="/timeManage/timeRecordView.html :: timeRecordFragment(${timeRecord})">
    </div>
</div> -->



